#apMap {
    /* neem de volle breedte in van het parent element en heeft een hoogte van 250px */
height: 250px;
width: 100%;


}

#mapP1 {
    /* neem de volle breedte in van het parent element en heeft een hoogte van 250px */
height: 250px;
width: 100%;
}
