.geel{
    background-color: #EEE8AA;
}
.fotos{
    width: 100%;
    height: 100%;
    object-fit: fill;
    vertical-align: middle;
    
}
.effect{
    transition: all 0.3s;
}
.effect:hover{
    transform: scale(1.08);
    
}
.spinner-wrapper{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.spinner-border{
    height: 60px;
    width: 60px;
}

.carousel-caption{
    bottom: 50%;
    transform: translate(0, 50%);
}
body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      font-family: Arial, sans-serif;
    }
    footer {
      background-color: #fff8b0;
      text-align: center;
      padding: 15px;
      border-top: 1px solid #ccc;
    }
    main {
      flex: 1; /* pushes footer down */
      padding: 20px;
    }
    .container {
  max-width: 960px;
  
}
.list-group-item.active {
    background-color: transparent;
    border-color: #dee2e6;
    color: #000; 
}
